*.c
*.py[cod]

# jupyter checkpoints
examples/.ipynb_checkpoints

# pycharm
.idea
.metadata

# docker
Dockerfile

.coverage

# C extensions
*.so

# Packages
*.egg
*.egg-info
build

# docs
docs/_build/
docs/_static/

# Example outputs
examples/CircinusNir.txt
examples/example_onedspec_linefit.fits
examples/ifscube_guiCFG.cfg
examples/ngc1566_HyperCube.fits
examples/ngc1566_HyperCube_linefit.fits
examples/ngc3081_cube_linefit.fits
examples/ngc3081_fit.fits
examples/ngc3081_cube.bin.ppxf.fits
examples/ngc3081_cube.bin.fits
examples/ngc3081_cube.bin_ppxf.fits
examples/ngc3081_cube_vor.fitsbin.fits
examples/ngc6300_nuc_linefit.fits
examples/plot_profile.py

# Unfinished work
src/ifscube/flux_calibration.py
