*.c
*.py[cod]

# jupyter checkpoints
ifscube/examples/.ipynb_checkpoints

# pycharm
.idea
.metadata

# docker
Dockerfile

.coverage

# C extensions
*.so

# Packages
*.egg
*.egg-info
build

# docs
docs/_build/
docs/_static/

# Example outputs
ifscube/examples/CircinusNir.txt
ifscube/examples/example_onedspec_linefit.fits
ifscube/examples/ifscube_guiCFG.cfg
ifscube/examples/ngc1566_HyperCube.fits
ifscube/examples/ngc1566_HyperCube_linefit.fits
ifscube/examples/ngc3081_cube_linefit.fits
ifscube/examples/ngc3081_fit.fits
ifscube/examples/ngc3081_cube.bin.ppxf.fits
ifscube/examples/ngc3081_cube.bin.fits
ifscube/examples/ngc3081_cube.bin_ppxf.fits
ifscube/examples/ngc6300_nuc_linefit.fits
ifscube/examples/plot_profile.py

# Unfinished work
ifscube/flux_calibration.py
